
.booking{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    /* margin-left: 2.50%; */
    /* width: 50%; */
}

.heading{
    margin: 10px;
    border-radius: 4px;
    background-color: royalblue;
    padding: 5px;
}

.bookingBox{
    border: 2px solid grey;
    /* width: 70%; */
    margin: 10px;
}

.bookingDetails{
    margin: 5px;
    display: flex;
    flex-direction: column;
    /* width: 65%; */
    margin: auto;
    
}

.bookingDetails input{
    margin: 10px;
}
.btn{
    width: 20%;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
}
input{
    padding: 5px;
}
.change{
    width: 20%;
    margin: auto;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
}

